.btn{
 
    padding:10px 50px 10px 50px;
    margin: 50px;
    border: 5px rgba(24, 146, 124, 0.845) solid; 
    background-color: rgba(24, 146, 124, 0.845);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(36, 178, 152, 0.845); 
}

h3{
    color: rgb(17, 17, 134)
}

span{
    color: rgb(5, 23, 38);
    font-size: 30px;
}